section.shadow.m-5.bg-white.accordion
  article.border-b    
    header.border-l-2.border-transparent.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
      span.text-gray-600.font-thin.text-lg
        | Massa vitae tortor condimentum lacinia
      .rounded-full.border.border-gray.w-7.h-7.flex.items-center.justify-center
        // icon by feathericons.com
        svg(aria-hidden='true', data-reactid='266', fill='none', height='24', stroke='#606F7B', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
          polyline(points='6 9 12 15 18 9')
    article.border-b
      .border-l-2.bg-gray-200.border-indigo-400
        header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
          span.text-indigo-400.font-thin.text-xl
            | Lorem ipsum dolor sit amet
        div
          .pl-8.pr-8.pb-5.text-gray-600
            ul.pl-4
              li.pb-2
                | consectetur adipiscing elit
              li.pb-2
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              li.pb-2
                | Viverra orci sagittis eu volutpat odio facilisis mauris
  article.border-b
    .border-l-2.border-transparent
      header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
        span.text-gray-600.font-thin.text-xl
          | Lorem dolor sed viverra ipsum
        .rounded-full.border.border-gray-400.w-7.h-7.flex.items-center.justify-center
          // icon by feathericons.com
          svg(aria-hidden='true', data-reactid='266', fill='none', height='24', stroke='#606F7B', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
            polyline(points='6 9 12 15 18 9')
  article.border-b
    .border-l-2.border-transparent
      header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
        span.text-gray-600.font-thin.text-xl
          | Egestas sed tempus urna
        .rounded-full.border.border-gray-400.w-7.h-7.flex.items-center.justify-center
          // icon by feathericons.com
          svg(aria-hidden='true', data-reactid='266', fill='none', height='24', stroke='#606F7B', stroke-linecap='round', stroke-linejoin='round', stroke-width='2', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
            polyline(points='6 9 12 15 18 9')
